/*
------------------------FIXED--------------------
-El valor fixed hace que el elemento se coloque respecto al viewport.

-El elemento no conserva su espacio en el flujo

-Si sus dimenciones no son declaradas, sus dimenciones se ajustan al contenido

-Su punto de referencia no se modifica auque movamos el elemento.

-Cuando hacemos scroll el elemento no se movera, se queda fija.

*/
body{
    padding-top: 4em;
}

.menu{
    background: blueviolet;
    padding: .5em;
    text-align: center;
    font-size: 2em;
    width: 100%;
    top:0;
    position: fixed;
}

.title{
    margin: 0;
}

